@import '../../app-theme';

// Define the light theme.
$primary: mat-palette($mat-gray, 800, 600, 900);
$accent:  mat-palette($mat-green, 700, 900, 500);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-docs-app-theme($theme);
